- content_for :stylesheets do
  = stylesheet_link_tag "abouts",
                        media: "all"

#container
  %h5.full.title
    Ask me とは？
  .full
    授業でわからなかった内容を京大生に聴き放題！<br/>
    平日18:00 ~ 21:00に京大生が駐在している学習ルーム<br/>
    (開放時間は10:00 ~ 22:00 土日祝も開放)<br/>
    
  .full.box.align_right
    .seven.box_title
      %h6 学習情報の共有
    .five.box_image
      %img{:src => "/assets/about/askme_1.png"} 
    .seven.box_param
      授業担当講師から Ask me 担当講師へ<br/>
      <em class="blue">生徒情報や授業の情報が共有</em>されています<br/>

  .full.box.align_left
    .seven.box_title
      %h6 学習情報をもとにした解説
    .five.box_image
      %img{:src => "/assets/about/askme_3.png"} 
    .seven.box_param
      生徒の学習状況がわかっているので<br/>
      Ask me 担当講師のほうから生徒へ声を掛けてくれる<br/>
      <em class="blue">自発的ではない生徒でも有効活用</em>が可能です<br/>
  
  .full.box.align_right
    .seven.box_title
      %h6 授業の質が大幅に向上
    .five.box_image
      %img{:src => "/assets/about/askme_4.png"} 
    .seven.box_param
      Ask me 担当講師から<em class="blue">解説した内容などを<br/>
      引き継いでいるので</em>スムーズに授業を<br/>
      開始することができます<br/>
    .full.box_image
      %img{:src => "/assets/about/askme_5.png"} 
    .full.box_param
      <em class="blue">宿題解説や記憶の定着、前回の授業の復習も<br/>
      Ask meで済ませてある</em>ので授業のペースも向上！<br/>
      記憶の定着と授業の質の向上で良いこと尽くし♪<br/>