# encoding: utf-8

#container
  .full.sysmes Webサイトからお問い合わせがありました。

  %p ------------------------------------------

  - name    = @apply.name
  - sex     = @apply.sex
  - email   = @apply.email
  - tel     = @apply.tel_num
  - school  = @apply.school
  - grade   = @apply.grade
  - year    = @apply.year
  - purpose = @apply.purpose

  - case sex
    - when 'man'
      - sex = '男の子'
    - when 'woman'
      - sex = '女の子'

  - case grade
    - when 'elementary'
      - grade = '小学'
    - when 'junior'
      - grade = '中学'
    - when 'high'
      - grade = '高校'

  %table{:style => 'text-align: left;'} 
    %tr
      %th{:style => 'width: 100px;'}  生徒の名前
      %th= name
    %tr 
      %th{:style => 'width: 100px;'}  生徒の性別
      %th= sex
    %tr 
      %th{:style => 'width: 100px;'}  メールアドレス
      %th= email
    %tr 
      %th{:style => 'width: 100px;'}  電話番号
      %th= tel
    %tr 
      %th{:style => 'width: 100px;'}  学校名
      %th= school
    %tr 
      %th{:style => 'width: 100px;'}  学年
      %th #{grade}#{year}年生
    %tr 
      %th{:style => 'width: 100px;'}  通塾目的
      %th= purpose
      
  %p ------------------------------------------
