- img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"
- content_for :stylesheets do
  = stylesheet_link_tag "home",
                        "abouts",
                        media: "all"
#container
  %h5.full.title
    Goodの特徴
  .full.box
    .seven.box_title 1. 学習アドバイザー
    .seven.box_param
      Good! には、指導講師とは別に学習アドバイザーがいます。<br/>
      <em class="Lblue">指導をするだけの塾ではなく、結果を出す</em>という想いから<br/>
      目標を見据えた上でのカリキュラムを構築します。<br/>
      悩みや問題点もしっかり伺い、解決に注力します！<br/>
      %img{:src => "#{img}about/top_01.png"}
  .full.box  
    .seven.box_title 2. オーダーメイドカリキュラム
    .seven.box_param
      学習アドバイザーと、担当講師が打合せを行い、<br/>
      お子様に合わせたカリキュラムを作成します。<br/>
      <em class="Lblue">生徒の現在の状況を把握し、<br/>
      理想と現実のギャップを埋める</em>為の、カリキュラムを作成します。<br/>
      受験には、長期的なカリキュラムが必要不可欠です<br/>

  .full.box
    .seven.box_title 3. 完全1対1指導
    .seven.box_param
      <em class="Lblue">聞くだけではなく、対話をとおした双方向授業を行います。</em><br/>
      時には、教え役を変わってもらいながら、本当の意味で理解出来ているかを確認します。<br/>
      生徒に合った効率の良い勉強法を見つけ出し、実施するには、１対１の指導が最適です。<br/>
      %a{:href => "abouts/1_to_1"} もっと詳しく
      %img{:src => "#{img}about/top_02.png"}
  .full.box
    .seven.box_title 4. 講師は全員現役京大生
    .seven.box_param
      <em class="Lblue">京大生の受験成功体験を基にした指導を致します。</em><br/>
      勉強の仕方を教えます！<br/>
      大手塾や予備校で学んだ様々な勉強のコツや現役生ならではの<br/>
      最新の学習情報を講師同士、研究会で情報共有し、切磋琢磨しています。<br/>
      %a{:href => ""} もっと詳しく
  .full.box
    .seven.box_title 5. 記憶が定着する仕組み
    .seven.box_param
      大切なのは、授業がない日に、勉強出来るかどうか！<br/>
      理解出来ても、記憶の定着しないと意味が無い！<br/>
      Good にはその仕組があります！<br/>
      %a{:href => "abouts/memory"} もっと詳しく
      %img{:src => "#{img}about/top_03.png"}
  .full.box
    .seven.box_title 6. 理解度確認テスト
    .seven.box_param
      授業前に必ずこれまでの内容を理解いているか<br/>
      確認テストを行います。<br/>
      %img{:src => "#{img}about/top_04.png"}