- content_for :stylesheets do
  = stylesheet_link_tag "apply", media: "all"
- content_for :footer_javascripts do
  = javascript_include_tag "apply"

#container
  .full.sysmes 内容に誤りがないか確認してください。
  = form_for @apply, :url => apply_thanks_path do |f|
    = f.hidden_field :name
    - name    = @apply.name
    = f.hidden_field :sex
    - sex     = @apply.sex
    = f.hidden_field :email
    - email   = @apply.email
    = f.hidden_field :tel_num
    - tel     = @apply.tel_num
    = f.hidden_field :school
    - school  = @apply.school
    = f.hidden_field :grade
    - grade   = @apply.grade
    = f.hidden_field :year
    - year    = @apply.year
    = f.hidden_field :purpose
    - purpose = @apply.purpose
    
    .group.confirm
      .six
        %label.title_label 生徒の名前
        %span= name
      .six
        %label.title_label.required 生徒の性別
        - case sex
          - when 'man'
            %span 男の子
          - when 'woman'
            %span 女の子
      .six
        %label.title_label メールアドレス
        %span= email
      .six
        %label.title_label.required 電話番号
        %span= tel
      .six
        %label.title_label 学校名
        %span= school
      .six
        %label.title_label.required 学年
        - case grade
          - when 'elementary'
            %span 小学
          - when 'junior'
            %span 中学
          - when 'high'
            %span 高校
        %span #{year}年生
      .full
        %label.title_label.required 通塾目的
        %span= purpose

    = f.submit '送信する', :class => 'btn btn-primary offset-by-three six'