- content_for :stylesheets do
  = stylesheet_link_tag "apply", media: "all"
- content_for :footer_javascripts do
  = javascript_include_tag "apply"

#container
  = form_for @apply, :url => apply_confirm_path do |f|
    - if @apply.errors.any?
      .full.alert_danger{:role => "alert"}
        %strong 入力内容にエラーがあります
        - @apply.errors.each do |attr, className|
          - className
    .group
      .six
        = f.label :name, "生徒の名前", :class => 'title_label'
        = f.text_field :name, :placeholder => '生徒の名前'
      .six
        = f.label :sex, "生徒の性別", :class => 'title_label required', :require_txt => '選択必須'
        = f.radio_button :sex, 'man',   :id => "man",   :value => "男の子"
        = label_tag :sex, "男の子", :for => 'man'
        = f.radio_button :sex, 'woman', :id => "woman", :value => "女の子"
        = label_tag :sex, "女の子", :for => 'woman'
      .six
        = f.label :email, "メールアドレス", :class => 'title_label'
        = f.text_field :email, :placeholder => 'メールアドレス'
      .six
        = f.label :tel_num, "電話番号", :class => 'title_label required', :require_txt => '入力必須'
        = f.text_field :tel_num, :placeholder => '電話番号'
      .six
        = f.label :school, "学校名", :class => 'title_label'
        = f.text_field :school, :placeholder => '学校名'
      .six
        = f.label :grade, "学年", :class => 'title_label required', :require_txt => '選択必須'
        %label.selected#grade
        .select_box_wrapper
          .select_box
            = f.radio_button :grade, 'elementary', :id => "elementary", :value => "小学生"
            %label.full{:for => "elementary"} 小学校
            = f.radio_button :grade, 'junior', :id => "junior", :value => "中学校"
            %label.full{:for => "junior"} 中学校
            = f.radio_button :grade, 'high', :id => "high", :value => "高校生"
            %label.full{:for => "high"} 高校生
        %label.selected#year 
        .select_box_wrapper
          .select_box
            - for yearCounter in 1..6 do
              = f.radio_button :year, yearCounter, :id => 'year_' + yearCounter.to_s, :value => '#{yearCounter} + 年生'
              %label.full{:for => "year_#{yearCounter}"}
                = yearCounter
                年生 
      .full
        = f.label :purpose, "通塾目的", :class => 'title_label required', :require_txt => '入力必須'
        = f.text_area :purpose, :placeholder => '通塾目的'
    = f.submit '送信する', class: 'btn btn-primary offset-by-three six'