- content_for :stylesheets do
  = stylesheet_link_tag "apply", media: "all"
- content_for :footer_javascripts do
  = javascript_include_tag "apply"

#container
  .group.thanks
    .full
      %h6 お申し込みありがとうございます
    .success_icon
      &#xe803
    .full
      生徒に合った講師を御紹介させて頂くため<br>
      プロフィールの入力にご協力ください
    -#
      %a{:href => "", :class => 'btn btn-primary offset-by-three six'} 
        プロフィールを入力する
