- img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"
- content_for :stylesheets do
  = stylesheet_link_tag "abouts",
                        media: "all"

#container
  .eight.offset-by-two
    %img{:src => "#{img}about/1_to_1.png"} 

  %h5.full.title
    集団指導塾と比べた個別指導塾の特徴
    
  .full.box.align_right
    .seven.box_title{:counter => 'none'}
      %h6 集団指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-02.png"} 
      %img{:src => "#{img}about/1_to_1-03.png"} 
    .seven.box_param
      集団授業では、ペースが自分と合っていない

  .full.box.align_left
    .seven.box_title{:counter => 'none'}
      %h6 個別指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-04.png"} 
      %img{:src => "#{img}about/1_to_1-05.png"} 
    .seven.box_param
      個別指導なら、お子様のペースに適した指導が可能

  .full.box.align_right
    .seven.box_title{:counter => 'none'}
      %h6 集団指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-06.png"} 
      %img{:src => "#{img}about/1_to_1-07.png"} 
    .seven.box_param
      集団授業では、記憶が定着する前にすすんでしまう

  .full.box.align_left
    .seven.box_title{:counter => 'none'}
      %h6 個別指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-08.png"} 
      %img{:src => "#{img}about/1_to_1-09.png"} 
    .seven.box_param
      個別指導なら、覚えていないところまで戻って苦手を潰せる

  %h5.full.title
    １対２授業と比べた、１対１授業の特徴
    
  .full.box.align_right
    .seven.box_title{:counter => 'none'}
      %h6 １対２指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-10.png"} 
      %img{:src => "#{img}about/1_to_1-11.png"} 
    .seven.box_param
      演習中は別の生徒を指導しなければいけない。。

  .full.box.align_left
    .seven.box_title{:counter => 'none'}
      %h6 １対１指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-12.png"} 
      %img{:src => "#{img}about/1_to_1-13.png"} 
    .seven.box_param
      ミスのパターン等を早期に発見でき、結果的に効率が良い
      
      
  .full.box.align_right
    .seven.box_title{:counter => 'none'}
      %h6 １対２指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-14.png"} 
      %img{:src => "#{img}about/1_to_1-15.png"} 
    .seven.box_param
      ペアの生徒との差が激しいと、どうしても不平等になってしまいます

  .full.box.align_left
    .seven.box_title{:counter => 'none'}
      %h6 １対１指導塾
    .five.box_image
      %img{:src => "#{img}about/1_to_1-16.png"} 
      %img{:src => "#{img}about/1_to_1-17.png"} 
    .seven.box_param
      苦手に合わせた宿題の出し方や、苦手を記録する時間的ゆとりがある