- img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"
- content_for :stylesheets do
  = stylesheet_link_tag "abouts",
                        media: "all"
#container
  %h5.full.title
    体験授業の流れ
  .full.box.align_right
    .seven.box_title
      %h6 まずはお気軽にご相談ください
    .five.box_image
      %img{:src => "#{img}about/lesson_1.png"} 
    .seven.box_param
      アドバイザーがヒアリングをもとに、<br/>
      生徒カルテを作成します。<br/>
      学習の悩みや塾に来る目的、要望など<br/>
      お気軽にご相談ください。<br/>
      まずはお気軽にご相談ください
  
  .full.box.align_left
    .seven.box_title
      %h6 カルテ作成・指導方針
    .five.box_image
      %img{:src => "#{img}about/lesson_2.png"} 
    .seven.box_param
      ヒアリングをもとに生徒カルテを作成します。<br/>
      同時に指導方針を立てていきます。

  .full.box.align_right
    .seven.box_title    
      %h6 生徒にぴったりな講師をリストアップ
    .five.box_image
      %img{:src => "#{img}about/lesson_3.png"} 
    .seven.box_param
      生徒カルテをもとに生徒に<br/>
      ぴったりな先生をリストアップし、<br/>
      体験授業していただきます

  .full.box.align_left
    .seven.box_title
      %h6 体験授業
    .five.box_image
      %img{:src => "#{img}about/lesson_4.png"} 
    .seven.box_param
      実際に体験授業をしていただきます。<br/>
      1教科につき先生2人を体験可能です。<br/>
      体験後に自分によりあった講師を選択できます。

  .full.box.align_right
    .seven.box_title
      %h6 オーダーメイドカリキュラム
    .five.box_image
      %img{:src => "#{img}about/lesson_5.png"} 
    .seven.box_param
      選ばれた講師とアドバイザーがタッグを組み、<br/>
      生徒にあった専用カリキュラムを作成します。

  .full.box.align_left
    .seven.box_title
      %h6 アフターフォロー
    .five.box_image
      %img{:src => "#{img}about/lesson_6.png"} 
    .seven.box_param
      担当講師が決まった後もしっかりアフターフォローします。<br/>
      生徒と1対1の面談をすることで本音を話せます。<br/>
      親との三者懇談も行っています。<br/>