- img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"
- content_for :stylesheets do
  = stylesheet_link_tag "abouts",
                        media: "all"

#container
  %h5.full.title
    記憶が定着する仕組
    
  .full.box.align_right
    .seven.box_title
      %h6 授業後、<em class="red">１時間以内</em>に授業内容をまとめる
    .five.box_image
      %img{:src => "#{img}about/memory_1.png"} 
    .seven.box_param
      脳は、記憶しても１時間で <em class="red">５６％</em>を忘れてしまいます。<br/>
      吸収したものを、<em class="red">一度アウトプット</em>しておくことで記憶が定着します
      %img{:src => "#{img}about/memory_2.png"} 
            
  .full.box.align_left
    .seven.box_title
      %h6 授業後、<em class="yellow">２日以内に復習</em>する
    .five.box_image
      %img{:src => "#{img}about/memory_3.png"} 
    .seven.box_param
      脳は1日で<em class="yellow">74％</em>を忘れてしまいます。<br/>
      <em class="yellow">2日以内に宿題</em>をすることで記憶が定着します。
      %img{:src => "#{img}about/memory_4.png"} 
            
  .full.box.align_right
    .seven.box_title
      %h6 3~4日目に宿題と定着度をチェック
    .five.box_image
      %img{:src => "#{img}about/memory_5.png"} 
    .seven.box_param
      <em class="green">次の授業日までに、 Ask Me にきて疑問を解決</em><br/>
      Ask Meには、京大生が駐在しており、即疑問を解決できます<br/>
      この仕組により理解度アップ・記憶の定着をはかります！
      %a{:href => "askme"} Ask Meをもっと詳しく
      %img{:src => "#{img}about/memory_6.png"} 
  
  .full.box.align_left
    .seven.box_title
      %h6 5~6日目にもう一度自力でやる！
    .five.box_image
      %img{:src => "#{img}about/memory_7.png"} 
    .seven.box_param
      <em class="Lblue">授業前に再度復習</em><br/>
      何度も繰り返すことで、記憶を定着させます！