- content_for :stylesheets do
  = stylesheet_link_tag "abouts",
                        "price",
                        media: "all"
- content_for :footer_javascripts do
  = javascript_include_tag "price"


- img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"

#container
  #price_menu
    %input{:type => "radio", :name => "price_menu", :id => 'grade_j'} 
    %label{:class => "threeN grade_j", :for => "grade_j"} 通常講座
    %input{:type => "radio", :name => "price_menu", :id => 'grade_h', :checked => ""} 
    %label{:class => "threeN grade_h", :for => "grade_h"} 東大京大医学部
  
  #wrapper
    .full{:style => 'text-align: center;'}
      下記以外の時間でも指導可能です！<br>
      営業時間 10:00 〜　22:00 （土日祝もあいてます）
    .gradePrice.grade_j.five.offset-by-one
      .gradePrice_title 通常講座
      .gradePrice_basic ¥2,980
      .gradePrice_week.week_1
        %p ¥17,880
        %p.c.s ¥23,840
      .gradePrice_week.week_2
        %p ¥35,760
        %p.c.s ¥47,680
      .gradePrice_btn
        %a{:href => "/apply/"} 無料体験を申し込む

    .gradePrice.grade_h.five.offset-by-one.displayed
      .gradePrice_title 東大京大医学部
      .gradePrice_basic ¥3,980
      .gradePrice_week.week_1
        %p ¥23,880
        %p ¥31,840
      .gradePrice_week.week_2
        %p.c ¥47,760
        %p.c.s ¥63,680
      .gradePrice_btn
        %a{:href => "/apply/"} 無料体験を申し込む