- content_for :stylesheets do
  = stylesheet_link_tag "abouts",
                        "teacher",
                        media: "all"
- img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"

#container
  %img{:src => "#{img}about/teacher_1.png"}
    