/*   
  Project:      Bass - A smart, lightweight responsive grid, built with Sass
  Project URI:  http://timpotter.github.io/bass-grid
*/

// Universal Box Sizing
// ------------------------------------------------------------------------------------------------------------------------------------------

*, 
*:before, 
*:after {
  box-sizing: border-box;     // Applies a natural box layout model to all elements
}

// Variables
// ------------------------------------------------------------------------------------------------------------------------------------------

$base-width: 100%;            // Best to leave this at 100%
$columns: 12;                 // Number of columns. 12 is used as default it's easily divisible, but you could also have 16, 24 etc
$base: $base-width/$columns;  // Calculates single column width - 100% / 12 = 8.33333%
$gutter: 2%;                  // Space between columns (Must be a percentage)
$breakpoint: 640px;           // Point to snap to single column layout
$container-width: 860px;      // Sets the width of the container if needed


// Placeholders
// ------------------------------------------------------------------------------------------------------------------------------------------

%column-style {
  float:left;
  margin: 10px $gutter/2;     // Gutter divided by 2 to sit on left and right margins equally
  padding: 10px;
}

// Mixins
// ------------------------------------------------------------------------------------------------------------------------------------------

@mixin column ($column:12) {
  width: $base*$column - $gutter;
  @extend %column-style;      // Inherit column style

  @media screen and (max-width: $breakpoint) {
    width: $base-width - $gutter; // Resets all columns to 100% width once breakpoint has been reached
  }
}

@mixin column_n_single ($column:12) {
  width: $base*$column - $gutter;
  @extend %column-style;      // Inherit column style
}

@mixin offset ($column:1) {
  margin-left: $base*$column + $gutter/2;
    
  @media screen and (max-width: $breakpoint) {
    margin-left: $gutter/2; // Removes offset once breakpoint has been reached
  }
}

/* Container - delete this if you don't need one
------------------------------------------------------------------------------------------------------------------------------------------ */

#container {
  width: $container-width;
  margin:0 auto;
  clear: both;
  @media screen and (max-width: $container-width) {
    width: $base-width;     // Resets all columns to 100% width once breakpoint has been reached
  }
}

/* Makes images responsive
------------------------------------------------------------------------------------------------------------------------------------------ */

img {
  max-width: 100%;
}

/* Choose a column size
------------------------------------------------------------------------------------------------------------------------------------------ */

.one {@include column(1);}

.two {@include column(2);}

.three {@include column(3);}

.four {@include column(4);}

.five {@include column(5);}

.six {@include column(6);}

.seven {@include column(7);}

.eight {@include column(8);}

.nine {@include column(9);}

.ten {@include column(10);}

.eleven {@include column(11);}

.twelve, .full {@include column;}

/* Offsets for positioning columns
------------------------------------------------------------------------------------------------------------------------------------------ */

.offset-by-zero-p5 {@include offset(0.5);}

.offset-by-one {@include offset(1);}

.offset-by-two {@include offset(2);}

.offset-by-three {@include offset(3);}

.offset-by-four {@include offset(4);}

.offset-by-five {@include offset(5);}

.offset-by-six {@include offset(6);}

.offset-by-seven {@include offset(7);}

.offset-by-eight {@include offset(8);}

.offset-by-nine {@include offset(9);}

.offset-by-ten {@include offset(10);}

.offset-by-eleven {@include offset(11);}

/* Or make your own - Delete the default columns to save bloating your CSS if you chose to make your own
------------------------------------------------------------------------------------------------------------------------------------------ */

.oneN {@include column_n_single(1);}

.twoN {@include column_n_single(2);}

.threeN {@include column_n_single(3);}

.fourN {@include column_n_single(4);}

.fiveN {@include column_n_single(5);}

.sixN {@include column_n_single(6);}

.sevenN {@include column_n_single(7);}

.eightN {@include column_n_single(8);}

.nineN {@include column_n_single(9);}

.tenN {@include column_n_single(10);}

.elevenN {@include column_n_single(11);}

.twelveN, .fullN {@include column_n_single;}


@media screen and (max-width: $breakpoint) {
  .none{
    display: none;
  }
}
