@charset "utf-8";

// color code setting
// --------------------------------------------------------------------------------------------------------------------------

$logo_left: #5da4d5;  $logo_right: #33729f;  $base_color: #e4e4e4;

$bgColor: #e4e4e4;    $fontColor: #444;      $white: #fff;
$fontColor2: #34495e;
$english: #FF6FCF;    $japanese: #EB3C00;    $society: #FFD800;    $science: #93D87C;    $math: #6FC9D8;    $etc: #a35ecd;

$english_rgba: rgba(255,112,208,0.5);	       $japanese_rgba: rgba(235,60,0,0.5);         $society_rgba: rgba(255,217,0,0.5);
$science_rgba: rgba(147,217,123,0.5);	       $math_rgba: rgba(110,201,217,0.5);          $etc_rgba: rgba(161,93,204,0.5);

$subject_title:     (".english", ".japanese", ".society", ".science", ".math", ".etc");
$subject_colorCode: ($english, $japanese, $society, $science, $math, $etc);


// color mixin collection
// --------------------------------------------------------------------------------------------------------------------------

@mixin color_444{
  color: $fontColor;
}

@mixin color_base{
  color: $base_color;
}

@mixin color_fff{
  color: $white;
}

@mixin color_logoL{
  color: $logo_left;
}

@mixin color_logoR{
  color: $logo_right;
}

// .subject_color と subject title を付属したら自動的にフォント色を指定
@for $n from 1 through 6{
  #{nth($subject_title, $n)}.subject_color{
    color: nth($subject_colorCode, $n);
  }
}

// BGcolor mixin collection
// --------------------------------------------------------------------------------------------------------------------------
@mixin BG_444{
  background: $fontColor;
}

@mixin BG_base{
  background: $base_color;
}

@mixin BG_fff{
  background: $white;
}

@mixin BG_logoL{
  background: $logo_left;
}

@mixin BG_logoR{
  background: $logo_right;
}

// .subject_BG と subject title を付属したら自動的に背景色を指定
@for $n from 1 through 6{
  #{nth($subject_title, $n)}.subject_bgColor{
    background: nth($subject_colorCode, $n);
  }
  #{nth($subject_title, $n)}.subject_bgColor_before:before{
    background: nth($subject_colorCode, $n);
  }
  #{nth($subject_title, $n)}.subject_bgColor_after:after  {
    background: nth($subject_colorCode, $n);
  }
}

// gradient colors setting
// --------------------------------------------------------------------------------------------------------------------------

// 1つのdivで上下違う色にできる
@mixin gradient_two_colors($from, $to){
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    background-image: #{$prefix}linear-gradient(
      #{$from} 0%, #{$from} 50%, #{$to} 50%, #{$to} 100%
    )
  }
}
