@charset "utf-8";
@import  "color_code_collection";
@import  "mixin_collection";
@import  "extend_collection";
@import  "base_grid";

// not mixin setting 
// local common's style setting code.

// font setting -------------------------------------------------------
@mixin font($size, $height){
	font-size: $size;
	line-height: $height;
}

// my default style setting
@font-face{
	font-family: 'thin';
	src: font-url('mplus-1p-thin.ttf') format('truetype');
}

@font-face{
	font-family: 'bold';
	src: font-url('mplus-1p-bold.ttf') format('truetype');
}

@font-face{
	font-family: 'medium';
	src: font-url('mplus-1p-medium.ttf') format('truetype');
}

@font-face{
  font-family: 'fontello';
  src: url('fontello.eot?18057348');
  src: url('fontello.eot?18057348#iefix') format('embedded-opentype'),
       url('fontello.woff?18057348') format('woff'),
       url('fontello.ttf?18057348') format('truetype'),
       url('fontello.svg?18057348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  // http://fontello.com/
}

@font-face{
  font-family: 'Lato';
  font-size: 18px;
  src: font-url('lato/lato-regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Lato_light';
  font-size: 18px;
  src: font-url('lato/lato-light.ttf') format('truetype');
}

@font-face{
  font-family: 'Lato_bold';
  font-size: 18px;
  src: font-url('lato/lato-bold.ttf') format('truetype');
}


@font-face{
  font-family: 'Lato_black';
  font-size: 18px;
  src: font-url('lato/lato-black.ttf') format('truetype');
}


h1{font-size: 61px;}
h2{font-size: 51px;}
h3{font-size: 39px;}
h4{font-size: 28px;}
h5{font-size: 27px;}
h6{font-size: 23px;}
p {font-size: 15px;}


// style
html, body{
  position: relative;
//  font-family: Lato;
  color: $fontColor2;
  font-family: medium;
//  color: $fontColor;
  @include size(95%, auto);
  left: 50%; margin-left: -47.5%;
}

// #wrapBGwindow
#wrapBGwindow{
  position: fixed;
  @include size(100%, 100%);
  top: 0; left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1;
}