@charset "utf-8";
@import  "color_code_collection";

// media query setting
// --------------------------------------------------------------------------------------------------------------------------

$iphone4       : 'only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)';
$phone         : 'only screen and (min-device-width : 320px) and (max-device-width : 410px)';
$phone2        : 'only screen and (min-device-width : 380px) and (max-device-width : 420px)';
$screens_phone : 'only screen and (min-width : 400px)';
$tablet        : 'only screen and (min-device-width : 768px) and (max-device-width : 1024px)';
$screens_tablet: 'only screen and (min-width : 768px)';
$screens       : 'only screen and (min-width : 1024px)';
$large_screens : 'only screen and (min-width : 1824px)';


@mixin mediaQuery_phone_s{
  @media #{$phone}{ @content }
}

@mixin mediaQuery_phone_m{
  @media #{$phone2}, #{$screens_phone}{ @content }
}

@mixin mediaQuery_tablet {
  @media #{$tablet}, #{$screens_tablet}{ @content }
}

@mixin mediaQuery_pc     {
  @media #{$screens}{ @content }
}


// basix customize setting
// --------------------------------------------------------------------------------------------------------------------------

// css3 vender prefix -------------------------------------------------
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

// size setting -------------------------------------------------------
@mixin size($width, $height){
  width: $width; height: $height;
}


// mixin colection
// --------------------------------------------------------------------------------------------------------------------------


// css3 vender prefix -------------------------------------------------
