@charset "utf-8";
@import  "common";

$emColor: ('.red', '.yellow', '.green', '.Lblue', '.blue');
$emCC   : (#da5d55, #efbd1c, #97c757, #4e99c7, #036eb8);


// common style ================================================ //
.box{
  min-height: 300px;
  border-top: dashed 1px $base_color;
  counter-increment: count;
}


.box em{     // 太字になる
  font-family: Lato_bold;
  font-style: normal;
}

@for $n from 1 through 5{
  .box em#{nth($emColor, $n)}{
    color: nth($emCC, $n);
  }
}


.box strong{ // アンダーライン引く
  font-weight: 900;
  position: relative;
  &:before{
    position: absolute;
    @include size(100%, 5px);
    bottom: 0; left: 0;
    background: $society;
    content: '';
    z-index: -1;
  }
}

.box_title > h6{
  margin: 0;
  &:before{
    content: 'STEP ' counter(count);
    display: block;
    font-family: Lato_light;
    font-size: 14px;
  }
}

.box_title[counter="none"] > h6:before{
  content: '';
}

// align_right style ================ //
.align_right > .box_title,
.align_right > .box_param{
  float: right;
}
.align_right > .box_image{
  float: left;
}

// align_left style  ================ //
.align_left > .box_title,
.align_left > .box_param{
  float: left;
}
.align_left > .box_image{
  float: right;
}


.box_param > a{
  @include size(200px, 40px);
  margin: 10px 0;
  background: $white;
  border: solid nth($emCC, 4) 2px;
  color: nth($emCC, 4);
  display: block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
