@charset "utf-8";
@import  "common";

$red: #da4453; $blue: #2a7aae; $border: #aab2bd;

.group > div{
  float: left;
}

.title_label{
  @extend .full;
  padding: 0 10px 0 0;
  margin-top: 0; margin-bottom: 0;  
}

.sysmes{
  font-size: 13px;
}

// input type text&textarea ==================== //
input[type='text'], textarea{
  @extend .full;
  border: solid 1px $border;
  border-radius: 4px;
}

input[type='text']{
  height: 40px;
  line-height: 40px;
}
// required style ============================== //
.required:after{
  position: relative;
  @include size(20px, 20px);
  left: 5px;
  border: solid 3px;
  border-radius: 50%;
  color: $blue;
  content: '*';
  display: inline-block;
  @include font(13px, 20px);
  line-height: 18px;
  text-align: center;
}
// required error style ======================== //
.field_with_errors > .required:after{
  color: $red;
}

.field_with_errors > input[type='text'],
.field_with_errors > textarea{
  border: solid 1px $red;
}

.field_with_errors > input[type='text']:focus,
.field_with_errors > textarea:focus{
  box-shadow: 0px 0px 1px 1px $red;
  outline: 0;
}
// input type radio ============================ //
input[type="radio"]{
  display: none;
}

input[type="radio"] + label{
}

// apply[sex] ================================== //
input[name="apply[sex]"] + label{
  @extend .sixN;
  height: 40px;
  line-height: 20px;
  text-align: center;  
}
input[type="radio"] + label[for='man']{
  border: solid 2px $blue;
  color: $blue;
}

input[type="radio"] + label[for='woman']{
  border: solid 2px $red;
  color: $red;
}

input[type="radio"]:checked + label{
  border: none;
  color: #fff;
  &:before{
    font-family: fontello;
    content: '\e803';
    margin-right: 5px;
  }
}

input[type="radio"]:checked + label[for='man']{
  background: $blue;
}

input[type="radio"]:checked + label[for='woman']{
  background: $red;
}
// apply[grade][year] ========================== //
label.selected{
  @extend .sixN;
  height: 40px;
  line-height: 20px;
  text-align: center;
  border: solid 2px $blue;
  color: $blue;
}
.select_box_wrapper{
  position: fixed;
  @include size(100%, 100%);
  top: 0; left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1;
}
.select_box{
  position: fixed;
  @extend .six;
  @extend .offset-by-three;
  bottom: 0; left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.select_box > label.full{
  background: #ECF0F1;
  margin: 0;
}
.select_box > label.full:hover{
  background: $blue;
  color: #fff;
}
.select_box > input:checked + label{
  background: $blue;
}
// apply[purpose] ============================== //
textarea[name="apply[purpose]"]{
  height: 120px;
}
//[type="submit"] ============================== //
.btn{
  height: 40px;
  background: $blue;
  border: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

// confirm design style ======================== //
.confirm > .six,
.confirm > .full{
  border: solid 1px $border;
  border-radius: 4px; 
}

.confirm label{
  font-size: 13px;
}

.confirm label + span{
  padding: 10px 10px;
}

// thanks design style ========================= //
.thanks > .full{
  text-align: center;
}

.thanks > .full > h6{
  font-size: 18px;
  margin: 0;
}

.thanks > .success_icon{
  position: relative;
  @include size(95px, 95px);
  left: 50%; margin-left: -47.5px;
  margin-top: 15px; margin-bottom: 15px;
  border: solid $logo_right 5px;
  border-radius: 50%;
  color: $logo_right;
  display: block;
  font-family: fontello;
  font-size: 50px;
  line-height: 95px;
  text-align: center;
}