@charset "utf-8";
@import  "common";

header{
  width: $container-width;
  margin: 0 auto;
  clear: both;
  @media screen and (max-width: $container-width) {
    width: $base-width;     // Resets all columns to 100% width once breakpoint has been reached
  }
}

// header style
header > .sixN{
  margin: 0 1%;
  padding: 0;
}

// logo style =================================== //
header > .sixN > a > img{
  max-height: 56px;
}

// menu style =================================== //
header > menu{
  @include size(100%, 70px);
  border-top: dashed #ddd 1px;
  border-bottom: dashed #ddd 1px;
  font-family: Lato_light;
  float: left;
  text-align: center;
  margin: 10px auto;
  padding: 10px 0;
}

header > menu > a{
  @include color_444;
  @include size(25%, 50px);
  border-right: dashed #ddd 1px;
  display: block;
  float: left;
  text-decoration: none;
  &:last-of-type{border: none;}
}

header > menu > a > img{
  height: 25px;
  display: inline-block;
}
header > menu > a > span{
  display: block;
  font-size: 13px;
}

// media query style ====================================================================== //
@include mediaQuery_pc{
  header > menu{
    @include size(100%, 90px);
    font-family: Lato;
  }
  header > menu > a{
    @include size(25%, 70px);
  }
  header > menu > a > img{
    height: 40px;
  }
  header > menu > a > span{
    font-size: 15px;
  }
}
