@charset "utf-8";
@import  "common";


// grade color setting css ===================================== //
$grade:    ('.grade_e', '.grade_j', '.grade_h');
$grade_CC: (#e6bd1e,    #2ecc71,    #3498db);

@for $n from 1 through 3{
  // border css
  #{nth($grade, $n)}.gradePrice{
    background: $white;
    border: solid 2px nth($grade_CC, $n);
  }
  // border && color
  #price_menu > label#{nth($grade, $n)}{
    border: nth($grade_CC, $n) solid 2px;
    color: nth($grade_CC, $n);    
  }
  // background && color
  #price_menu > input:checked + #{nth($grade, $n)},
  #{nth($grade, $n)}.gradePrice > .gradePrice_title,
  #{nth($grade, $n)}.gradePrice > .gradePrice_btn > a{
    background: nth($grade_CC, $n);
    color: $white;
  }
  // color
  #{nth($grade, $n)}.gradePrice > .gradePrice_week > p.c{
    color: nth($grade_CC, $n);
  }
}


// #price_menu style =========================================== //
#price_menu{
  display: none;
  @media screen and (max-width: $container-width) {
    position: relative;
    @include size(100%, 50px);
    display: block;
  }
}

#price_menu > input{
  display: none;
}

#price_menu > label{
  position: relative;
  height: 50px;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  margin: 0 1%;
}

#price_menu > input:checked + label{
  @extend .sixN;
  line-height: 14px;
  color: #fff;
  margin: 0 1%;
  &:before{
    content: '選択中';
    display: block;
    font-size: 11px;
    font-family: land-light;
  }
}

//.gradePrice style ============================================ //
.gradePrice{
  color: #929292;
  text-align: center;
  padding: 0;
  display: block;
  @media screen and (max-width: $container-width) {
    width: 98%;
    display: none;
  }
}

.displayed{
  display: block;
  transition: .2s;
}

.gradePrice > .gradePrice_title{
  @include size(100%, 45px);
  font-size: 25px;
  font-weight: bold;
  line-height: 45px;
}

.gradePrice > .gradePrice_basic{
  @include size(100%, 100px);
  font-size: 35px;
  font-weight: bold;
  line-height: 70px;
  &:after{
    content: '1時間あたり';
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 10px;
  }
}

.gradePrice > .gradePrice_week{
  height: 120px;
  padding: 5px 0;
  counter-increment: count;
  &.week_1{background: #f6f8f9;}
  &.week_2{background: #eceff0;}
}

$min: ('90', '120', '135');
.gradePrice > .gradePrice_week > p{
  position: relative;
  @include size(100%, 33%);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  line-height: 35px;
  &:before{    
    color: #929292;
    font-size: 15px;
    font-weight: normal;
    margin-right: 1em;
  }
  @for $n from 1 through 3{
    &:nth-of-type(#{$n}):before{
      content: nth($min, $n) '分 / 週' counter(count) '回';
    }
  }
}

.gradePrice > .gradePrice_week > p.s:after{
  position: absolute;
  top: -10px;
  font-family: fontello;
  font-size: 10px;
  content: '\e801';  
}

.gradePrice > .gradePrice_btn > a{
  position: relative;
  @include size(70%, 35px);
  left: 50%;
  margin: 15px auto 15px -35%;
  border-radius: 4px;
  color: #fff;
  display: block;
  line-height: 35px;
  text-align: center;
  text-decoration: none; 
}