!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 京大生の個別指導学習塾 Good!
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => false
    = stylesheet_link_tag "header", :media => "all", "data-turbolinks-track" => false
    = yield :stylesheets
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = yield :header_javascripts
    = csrf_meta_tags
    - img = "https://s3-ap-northeast-1.amazonaws.com/kyotogood/images/"
    = analytics_init if Rails.env.production?
    
  %body
    %header
      .sixN
        = link_to '/', :class => 'logo' do
          %img{:src => "#{img}logo.png", :alt => ""} 
      .sixN
        = link_to '/apply/', :class => 'header_email' do
          %img{:src => "#{img}mail.png", :alt => ""} 
      %menu
        
        = link_to '/abouts/askme' do
          %img{:src => "#{img}head_1.png"} 
          %span Ask me!
        = link_to '/abouts/teacher' do
          %img{:src => "#{img}head_2.png"} 
          %span 講師紹介
        = link_to '/abouts/price' do
          %img{:src => "#{img}head_3.png"} 
          %span 授業料
        = link_to '/abouts/lesson' do
          %img{:src => "#{img}head_4.png"} 
          %span 体験授業
    = yield
    = yield :footer_javascripts
